databaseName: modular_api
disableRateLimiter: "true"  # '' to enable
workers: 2
memoryLimit: 512Mi
memoryRequest: 128Mi

service:
  type: NodePort
  port: 8085
  nodePort: 32105

image:
  repository: public.ecr.aws/x4s4z8e1/syndicate/modular-api
  tag: 4.3.1
  pullPolicy: Always

replicas: 1
strategy:
  type: Recreate
  maxUnavailable: 0
  maxSurge: 100%


mongoService: mongo
mongoPort: 27017
vaultService: vault
vaultPort: 8200

httpProxy: ''
httpsProxy: ''
noProxy: 'localhost,127.0.0.1,169.254.169.254,mongo,vault,minio,defectdojo'
modularApiServerLogLevel: ERROR
modularApiCliLogLevel: ERROR
