databaseName: modular_api
disableRateLimiter: "true"  # '' to enable

service:
  type: NodePort
  port: 8085
  nodePort: 32105

image:
  repository: public.ecr.aws/x4s4z8e1/syndicate/modular-api
  tag: 4.2.11
  pullPolicy: Always

replicas: 1
strategy:
  type: RollingUpdate
  maxUnavailable: 0
  maxSurge: 100%


mongoService: mongo
mongoPort: 27017
vaultService: vault
vaultPort: 8200

httpProxy: ''
httpsProxy: ''
noProxy: 'localhost,127.0.0.1,169.254.169.254,mongo,vault,minio,defectdojo'
